name: Complex application CD
on:
  workflow_run:
    workflows: ["Complex application CI"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/homework_21:v1.0
        


    
#      - name: Checkout code
 #       uses: actions/checkout@v4
#
 #     - name: Build Docker image
  #      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/homework_21:v1.0 .
###      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
   #   - name: Push
    #    run: docker push ${{ secrets.DOCKER_USERNAME }}/homework_21:v1.0
