name: Complex application CD
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t my-app .

      - name: Extract build artifacts
        run: |
          container_id=$(docker create my-app)
          docker cp $container_id:/app/build ./build
          docker rm $container_id
